*{
    margin: 0%;
    padding: 0%;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #548687;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    /* gap: 5px; */
    margin: 20px auto;
    width: 320px;
    color: red;
    background-color: wheat;
    gap: 0.8vmin;
    /* border-radius: 1rem;
    flex-wrap: wrap; */

    /* box-shadow: 0 0 1rem rgba(0,0, 0, 1); */
    


}
.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    border: 2px solid black;
    cursor: pointer;
}
.cell.taken {
    pointer-events: none;
}
#status {
    font-size: 1.5em;
    margin: 20px;
}
button {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    border-radius: 1rem;
    border: none;
    color: white;
}